.v-list::-webkit-scrollbar {
	width: 6px;
	height: 150px;
}
.v-list::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
.v-list::-webkit-scrollbar-thumb {
	min-height: 150px;
	min-width: 150px;
	border-radius: 6px;
	background-color: #ddd;
}
.v-list::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #a7bdc3;
}
.v-list::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #a7bdc3;
}
.v-list::-webkit-scrollbar-corner {
	visibility: hidden;
}

.v-list.is-custom-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.v-list-item {
	display: flex;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.v-list-item:last-child {
	border: none;
}

.v-list-item .v-list-item-l {
	flex: 1;
}

.v-list-item .v-list-item-r {
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: none;
	margin: 0 10px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.v-list-item .v-list-item-r:hover {
	opacity: 0.8;
}
